PORT=8081
DB_FILE=./data.sqlite
JWT_SECRET=change-me-long-random-string
ADMIN_KEY=change-me-admin-key
# SHOW_RESET_CODE=1
# ALLOW_RESET_WITHOUT_MAIL=1
# FIREBASE_SERVICE_ACCOUNT_JSON={"type":"service_account",...}
# RESEND_API_KEY=
# SMTP_HOST=
